* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #f5e419;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 36px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    background-color: #3d0371;
}

header {
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }


header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #3d0371;
    text-decoration: none;
    font-size: 20px;
}

section {
    padding: 50px 100px;
    margin: 30px 100px 50px 100px;
    border-bottom: 3px solid #ffffff;
    text-align: center;
    font-weight: 100;
    font-style: italic;
}

section h2 {
    padding-bottom: 100px;
}